{% extends 'accounts/base.html' %}
{% block title %}{% if form.instance.pk %}Edit Customer{% else %}Add Customer{% endif %} | ARSAFA SOLUTION{% endblock %}
{% block header %}{% if form.instance.pk %}Edit Customer{% else %}Add Customer{% endif %}{% endblock %}
{% block content %}
<div class="container mt-4">
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'customer_dashboard' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %} 